@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');


body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

label {
  font-size: .85rem !important;
}

::placeholder {
  font-size: .9rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:focus-visible {
  outline: none;
}